@font-face {
  font-family: 'icomoon';
  src:  url('fonts-miranda/icomoon.eot?4o1rwo');
  src:  url('fonts-miranda/icomoon.eot?4o1rwo#iefix') format('embedded-opentype'),
    url('fonts-miranda/icomoon.ttf?4o1rwo') format('truetype'),
    url('fonts-miranda/icomoon.woff?4o1rwo') format('woff'),
    url('fonts-miranda/icomoon.svg?4o1rwo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-avion:before {
  content: "\e900";
}
.icon-columna:before {
  content: "\e901";
}
.icon-contenido:before {
  content: "\e902";
}
.icon-descripcion:before {
  content: "\e903";
}
.icon-descripcionPracticas:before {
  content: "\e904";
}
.icon-escenario:before {
  content: "\e905";
}
.icon-escribir:before {
  content: "\e906";
}
.icon-flecha:before {
  content: "\e907";
}
.icon-home:before {
  content: "\e908";
}
.icon-informacion:before {
  content: "\e909";
}
.icon-instruccion:before {
  content: "\e90a";
}
.icon-introduccion:before {
  content: "\e90b";
}
.icon-lecturaTecnologia:before {
  content: "\e90c";
}
.icon-lecturaUniversitaria:before {
  content: "\e90d";
}
.icon-leer:before {
  content: "\e90e";
}
.icon-libro:before {
  content: "\e90f";
}
.icon-lineamientos:before {
  content: "\e910";
}
.icon-maletin:before {
  content: "\e911";
}
.icon-objetivo:before {
  content: "\e912";
}
.icon-ojo:before {
  content: "\e913";
}
.icon-palomita:before {
  content: "\e914";
}
.icon-pdf:before {
  content: "\e915";
}
.icon-personaje:before {
  content: "\e916";
}
.icon-problema:before {
  content: "\e917";
}
.icon-tache:before {
  content: "\e918";
}
.icon-textosAcademicos:before {
  content: "\e919";
}
